.wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.Poppins{
    font-family: Poppins;
}
.Montserrat{
    font-family: Montserrat;
}

.rawCentralize{
    &--x{
        left: 50%;
        transform:translateX(-50%)
    }
}

.scrollbar{
    &--none{
        &::-webkit-scrollbar{
            display: none;
        }
    }
}

.bg{
    &--black{
        background-color: #0b0d11;
    }
}